<div class="list-group">
  <div
    *ngFor="let truck of trucksToView"
    class="list-group-item list-group-item-action"
    [class.active]="currentTruck.id === truck.id"
    (click)="setCurrentAsset($event, truck)"
  >
    <div>{{truck.name}}</div>
    <button
      type="button"
      class="close text-danger"
      (click)="openModal(content)"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</div>


<!-- Modal -->
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header bg-warning">
    <h4 class="modal-title" id="modal-basic-title">Warning!</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Are you sure you want to delete {{currentTruck.name}}?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="d('close click')">cancel</button>
    <button type="button" class="btn btn-outline-danger" (click)="c('delete click'); removeItem($event, currentTruck)" ngbAutofocus >delete</button>
  </div>
</ng-template>
